## MySQL
### Exercices Chapitre I

In [1]:
import mysql.connector
#1: How many orders were placed in total?
# Connexion à la base de données MySQL
conn = mysql.connector.connect(
    host="localhost", user="root", password="PF1234-5678", database="m1-ds2e")

cursor = conn.cursor()

try:
    query = "SELECT COUNT(*) AS total_orders FROM sample_superstore"
    cursor.execute(query)
    result = cursor.fetchone()
    if result:
        total_orders = result[0]
        print("Le nombre total de commandes est :", total_orders)

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

Le nombre total de commandes est : 9033

In [5]:
#2: What is the total sales amount?
conn = mysql.connector.connect(
    host="localhost", user="root", password="PF1234-5678", database="m1-ds2e")

cursor = conn.cursor()

try:
    query = "SELECT SUM(sales) AS total_sales FROM sample_superstore"
    cursor.execute(query)
    result = cursor.fetchone()
    if result:
        total_sales = result[0]
        print("Le montant total des ventes est :", total_sales)

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()

Le montant total des ventes est : 8698057.950000014

In [120]:
#3: What is the average profit per order?
def calculate_average_profit_per_order(connection):
    try:
        cursor = connection.cursor()
        query = "SELECT AVG(profit) AS average_profit_per_order FROM sample_superstore"
        cursor.execute(query)

        result = cursor.fetchone()

        if result:
            average_profit_per_order = result[0]
            print("Average Profit per Order:", average_profit_per_order)
        else:
            print("No result found.")

    except mysql.connector.Error as error:
        print("Error executing the query:", error)

    finally:
        if cursor:
            cursor.close()

try:
    conn = mysql.connector.connect(
    host="localhost", user="root", password="PF1234-5678", database="m1-ds2e")
    calculate_average_profit_per_order(conn)

finally:
    if conn:
        conn.close()

Average Profit per Order: 138.4031869077875

In [121]:
#4: Which customer has placed the most orders?
def find_customer_with_most_orders(connection):
    try:
        cursor = connection.cursor()
        query = """
        SELECT `Customer Name`, COUNT(`Order ID`) AS order_count
        FROM sample_superstore
        GROUP BY `Customer Name`
        ORDER BY order_count DESC
        LIMIT 1
        """

        cursor.execute(query)
        result = cursor.fetchone()

        if result:
            customer_name = result[0]
            order_count = result[1]
            print("Customer with Most Orders:")
            print("Customer Name:", customer_name)
            print("Number of Orders:", order_count)

    finally:
        if cursor:
            cursor.close()

try:
    conn = mysql.connector.connect(
    host="localhost", user="root", password="PF1234-5678", database="m1-ds2e")

    find_customer_with_most_orders(conn)


finally:
    if conn:
        conn.close()

Customer with Most Orders:
Customer Name: Louis Parrish
Number of Orders: 26

In [122]:
#5: What is the total profit for each product category?
def total_profit_per_category(connection):
    try:
        cursor = connection.cursor()
        query = """
        SELECT `Product Category`, SUM(`Profit`) AS total_profit
        FROM sample_superstore
        GROUP BY `Product Category`
        """

        cursor.execute(query)
        results = cursor.fetchall()

        if results:
            print("Total Profit per Product Category:")
            for row in results:
                category = row[0]
                total_profit = row[1]
                print("Product Category:", category)
                print("Total Profit:", total_profit)
                print("---")

    finally:
        if cursor:
            cursor.close()

try:
    conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="PF1234-5678",
    database="m1-ds2e"
)
    total_profit_per_category(conn)


finally:
    if conn:
        conn.close()

Total Profit per Product Category:
Product Category: Office Supplies
Total Profit: 440488.3892998
---
Product Category: Technology
Total Profit: 688056.5941278014
---
Product Category: Furniture
Total Profit: 121651.00391044984
---

In [123]:
#6: What is the average discount percentage?
def moyenne_pourcentage_reduction(connection):
    try:
        cursor = connection.cursor()

        query = """
        SELECT AVG(`Discount`) * 100 AS moyenne_pourcentage_reduction
        FROM sample_superstore
        """
        cursor.execute(query)
        result = cursor.fetchone()

        if result:
            moyenne_pourcentage_reduction = result[0]
            print("Moyenne du Pourcentage de Réduction:", moyenne_pourcentage_reduction, "%")

    finally:
        if cursor:
            cursor.close()

try:
    conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="PF1234-5678",
    database="m1-ds2e"
)
    moyenne_pourcentage_reduction(conn)

finally:
    if conn:
        conn.close()

Moyenne du Pourcentage de Réduction: 4.9626923502710785 %

In [124]:
#7: Which region has the highest total sales?
def region_plus_grand_total_ventes(connection):
    try:
        cursor = connection.cursor()

        query = """
        SELECT `Region`, SUM(`Sales`) AS total_ventes
        FROM sample_superstore
        GROUP BY `Region`
        ORDER BY total_ventes DESC
        LIMIT 1
        """

        cursor.execute(query)
        result = cursor.fetchone()

        if result:
            region = result[0]
            total_ventes = result[1]
            print("Région avec le Plus Grand Total de Ventes:", region)
            print("Total de Ventes:", total_ventes)

    finally:
        if cursor:
            cursor.close()

try:
    conn = mysql.connector.connect(
          host="localhost", user="root", password="PF1234-5678", database="m1-ds2e")

    region_plus_grand_total_ventes(conn)

finally:
    if conn:
        conn.close()

Région avec le Plus Grand Total de Ventes: Central
Total de Ventes: 2462501.9600000004

In [125]:
#8: How many orders were shipped using each shipping mode?
def orders_by_shipping_mode(connection):
    try:
        cursor = connection.cursor()
        query = """
        SELECT `Ship Mode`, COUNT(*) AS total_orders
        FROM sample_superstore
        GROUP BY `Ship Mode`
        """

        cursor.execute(query)
        results = cursor.fetchall()
        for result in results:
            ship_mode = result[0]
            total_orders = result[1]
            print("Mode d'Expédition:", ship_mode)
            print("Nombre de Commandes:", total_orders)
            print()


    finally:
        if cursor:
            cursor.close()
try:
    conn = mysql.connector.connect(
          host="localhost", user="root", password="PF1234-5678", database="m1-ds2e")
    orders_by_shipping_mode(conn)


finally:
    if conn:
        conn.close()

Mode d'Expédition: Regular Air
Nombre de Commandes: 6715

Mode d'Expédition: Express Air
Nombre de Commandes: 1052

Mode d'Expédition: Delivery Truck
Nombre de Commandes: 1266

In [126]:
#9: What is the total quantity ordered for each product sub-category?
def total_quantity_by_subcategory(connection):
    try:
        cursor = connection.cursor()
        query = """
        SELECT `Product Sub-Category`, SUM(`Quantity ordered new`) AS total_quantity
        FROM sample_superstore
        GROUP BY `Product Sub-Category`
        """
        cursor.execute(query)
        results = cursor.fetchall()
        for result in results:
            sub_category = result[0]
            total_quantity = result[1]
            print("Sous-Catégorie de Produit:", sub_category)
            print("Quantité Totale Commandée:", total_quantity)
            print()

    finally:
        if cursor:
            cursor.close()
try:
    conn = mysql.connector.connect(
          host="localhost", user="root", password="PF1234-5678", database="m1-ds2e")

    total_quantity_by_subcategory(conn)

finally:
    if conn:
        conn.close()

Sous-Catégorie de Produit: Labels
Quantité Totale Commandée: 4794

Sous-Catégorie de Produit: Pens & Art Supplies
Quantité Totale Commandée: 10752

Sous-Catégorie de Produit: Paper
Quantité Totale Commandée: 17666

Sous-Catégorie de Produit: Scissors, Rulers and Trimmers
Quantité Totale Commandée: 1865

Sous-Catégorie de Produit: Telephones and Communication
Quantité Totale Commandée: 14284

Sous-Catégorie de Produit: Office Machines
Quantité Totale Commandée: 4674

Sous-Catégorie de Produit: Chairs & Chairmats
Quantité Totale Commandée: 5769

Sous-Catégorie de Produit: Appliances
Quantité Totale Commandée: 7040

Sous-Catégorie de Produit: Bookcases
Quantité Totale Commandée: 2596

Sous-Catégorie de Produit: Tables
Quantité Totale Commandée: 5037

Sous-Catégorie de Produit: Envelopes
Quantité Totale Commandée: 3741

Sous-Catégorie de Produit: Office Furnishings
Quantité Totale Commandée: 11910

Sous-Catégorie de Produit: Rubber Bands
Quantité Totale Commandée: 2755

Sous-Catégorie de Produit: Binders and Binder Accessories
Quantité Totale Commandée: 12405

Sous-Catégorie de Produit: Storage & Organization
Quantité Totale Commandée: 7822

Sous-Catégorie de Produit: Copiers and Fax
Quantité Totale Commandée: 1177

Sous-Catégorie de Produit: Computer Peripherals
Quantité Totale Commandée: 10773

In [127]:
#10: Which product has the highest profit margin?
def highest_profit_margin_product(connection):
    try:
        cursor = connection.cursor()
        query = """
        SELECT `Product Name`, 
               SUM(`Profit`) AS total_profit,
               SUM(`Sales`) AS total_sales,
               (SUM(`Profit`) / SUM(`Sales`)) * 100 AS profit_margin
        FROM sample_superstore
        GROUP BY `Product Name`
        ORDER BY profit_margin DESC
        LIMIT 1
        """

        cursor.execute(query)
        result = cursor.fetchone()
        if result:
            product_name = result[0]
            total_profit = result[1]
            total_sales = result[2]
            profit_margin = result[3]
            print("Produit avec la Marge Bénéficiaire la Plus Élevée:")
            print("Nom du Produit:", product_name)
            print("Total Profit:", total_profit)
            print("Total Sales:", total_sales)
            print("Profit Margin (%):", profit_margin)


    finally:
        if cursor:
            cursor.close()
try:
    conn = mysql.connector.connect(
          host="localhost", user="root", password="PF1234-5678", database="m1-ds2e")

    highest_profit_margin_product(conn)


finally:
    if conn:
        conn.close()

Produit avec la Marge Bénéficiaire la Plus Élevée:
Nom du Produit: Advantus Panel Wall Acrylic Frame
Total Profit: 4903.3071
Total Sales: 188.32
Profit Margin (%): 2603.7102272727275

In [128]:
#11: What is the total sales amount for each year?
def total_sales_per_year(connection):
    try:
        cursor = connection.cursor()
        query = """
        SELECT SUBSTRING_INDEX(`Order Date`, '/', -1) AS order_year, 
               SUM(`Sales`) AS total_sales
        FROM sample_superstore
        GROUP BY order_year
        ORDER BY order_year
        """

        cursor.execute(query)
        results = cursor.fetchall()
        print("Montant Total des Ventes par Année:")
        for row in results:
            order_year = row[0]
            total_sales = row[1]
            print(f"Année {order_year}: Montant Total des Ventes  {total_sales}")

    finally:
        if cursor:
            cursor.close()
try:
    conn = mysql.connector.connect(
               host="localhost", user="root", password="PF1234-5678", database="m1-ds2e")

    total_sales_per_year(conn)

finally:
    if conn:
        conn.close()

Montant Total des Ventes par Année:
Année 2010: Montant Total des Ventes  1864104.4299999992
Année 2011: Montant Total des Ventes  1913396.2600000014
Année 2012: Montant Total des Ventes  2118545.4900000007
Année 2013: Montant Total des Ventes  2802011.7700000005

In [129]:
#12: Which customer segment has the highest average sales?
def highest_avg_sales_by_segment(connection):
    try:
        cursor = connection.cursor()
        query = """
        SELECT `Customer Segment`, AVG(`Sales`) AS avg_sales
        FROM sample_superstore
        GROUP BY `Customer Segment`
        ORDER BY avg_sales DESC
        LIMIT 1
        """

        cursor.execute(query)
        result = cursor.fetchone()

        if result:
            segment = result[0]
            avg_sales = result[1]
            print(f"The customer segment with the highest average sales is '{segment}' with an average sales of {avg_sales:.2f}")

    finally:
        if cursor:
            cursor.close()
try:
    conn = mysql.connector.connect(
                host="localhost", user="root", password="PF1234-5678", database="m1-ds2e")
    highest_avg_sales_by_segment(conn)

finally:
    if conn:
        conn.close()

The customer segment with the highest average sales is 'Consumer' with an average sales of 989.24